$red: #f00;
$shadow: #888;

.form-actions {
  display: flex;

  [type="submit"] {
    background: var(--primary);
    border: 0;
    box-shadow: 5px 10px $shadow;
    color: var(--white);
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .cre-post {
    background-color: $red;
  }
}
